.main_visual{
    width: 100vw;
}
.main_visual img{
    width: 100%;
}
.sub_visual {
    max-width: 64%;
    margin: 4vw 18% 0 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub_info{
    max-width: 64%;
    margin: 1vw 18% 15% 18%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sub_visual img, .info_text{
    align-items: space-between;
    border-radius: 35px;
    width: 28%;
}

#index{
    text-align: left;
    font-weight:bold;
    width: 200px;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
    margin-left: 20px;    
}
#text{
    text-align: left;
    font-size: 15px;
    width: 200px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;    
    margin-left: 20px;    
}
@media screen and (max-width:768px){
    .main_visual{
        min-width: 600px;
    }
    .sub{
        display: flex;
        margin-bottom: 10%;

    }
    .sub_visual, .sub_info{
        margin: 4vh 0 0 3%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }
    .sub_visual img, .info_text{
        background-color: transparent;
        border-radius: 35px;
        margin: 0 10px 30px 10px;
        width: 200px;
        height: 180px;
        
    }  
}    