.container{
    padding: 0 15px;
}

.row {
    width: 100%;
    height: 100%;
    text-align: center;
}

.business_titleArea {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 15%;
}

.title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.15px;
    color: #313133;
}

.line {
    width: 20%;
    color: #707070;
}
.business_contentArea {
    height: 35%;
    padding: 5%;
}
.business_contentArea_a {
    border: black ;
    background-color: yellow;
}
.business_contentArea_b {
    background-color: yellowgreen;
}
.bcLetterArea {
    width: 50%;
    padding: 0;
    float: left;
}
.bcLetterArea_left {
    margin-top: 70px;
}

.bcTitle {
    width: 95%;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #313133;
}

.bcTitle_left {
    margin-right: 25px;
    margin-top: 0px;
    text-align: right;
}

.bcInfo {
    width: 95%;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.48;
    letter-spacing: 0.5px;
    color: #666666;
}

.bcInfo_left {
    margin-right: 25px;
    text-align: right;
}

.bcImgArea{
    float: left;
}

.bcImgArea_right {
    width: 45%;
    margin-left: 25px;
    text-align: left;
}

.bcImgArea_left {
    width: 48%;
    margin-right: 25px;
    text-align: right;
}

.bcLetterArea_right {
    margin-top: 100px;
}

.bcTitle_right{
    margin-left: 50px;
    margin-top: 0px;
    text-align: left;
    float: left;
}

.bcInfo_right {
    margin-left: 50px;
    margin-top: 0px;
    text-align: left;
    float: left;
}
.inner-box {
    width: 1060px;
    height: 400px;
    position: relative;
    top: 50px;
    background-color: rgba(190, 187, 187, 0.16);
}