@import url(//cdn.jsdelivr.net/font-notosans-kr/1.0.0-v1004/NotoSansKR-2350.css);

body{
    margin: 0;
    font-family: NotoSansKR;
}
.top_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.menu li {
    padding: 8px 12px;
}
.menu_item {
    text-decoration: none;
    color: black;
}
.menu_icon{
    margin: auto 0;
}

.contentArea{
    width: 100vh;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:768px){
    .top_container{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .menu_icon{
        position: absolute;
        right:32px;
        top: 20px;
    }

    .menu.active{
        display: flex;
    }
}